<!DOCTYPE html>
<html>

    <head>
        <title>Nandini's blog</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Django Blog</a></h1>
        </header>

        <article>
            <time>published: 09.08.2021, 12:15</time>
            <h2><a href="">My first post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget sapien nisi. Pellentesque sit amet mi pretium, tempus erat ut, congue justo. Cras aliquam lorem sed diam posuere, quis pretium odio rutrum. Ut suscipit ornare libero, vel finibus nulla iaculis ut. Aliquam malesuada lorem mattis arcu laoreet vehicula. Nam hendrerit nisi id nisl ultrices pretium sit amet non nisi. Etiam sagittis quam et augue iaculis, tempor venenatis mi hendrerit.</p>
        </article>

        <article>
            <time>published: 09.08.2021, 12:15</time>
            <h2><a href="">My second post</a></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget sapien nisi. Pellentesque sit amet mi pretium, tempus erat ut, congue justo. Cras aliquam lorem sed diam posuere, quis pretium odio rutrum. Ut suscipit ornare libero, vel finibus nulla iaculis ut. Aliquam malesuada lorem mattis arcu laoreet vehicula. Nam hendrerit nisi id nisl ultrices pretium sit amet non nisi. Etiam sagittis quam et augue iaculis, tempor venenatis mi hendrerit.</p>
        </article>
    </body>

</html>